body {
  padding: 0 3%;
}

.books{
  border: 1px solid black;

}

.books button{
  box-shadow: 3px 2px;
  width: 20%;
  padding:1%;
}

.bookstyle{
  display: flex;
   padding: 0.5% 3%;
   flex-direction: row;
}

.bookstyle :nth-child(3){
  margin-left: auto;
 
}

.inputs{
  text-align: center;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

input{
  width:30% ;
 margin: 1% auto;
 border: 1px solid black;
}

.addbook{
  width: 10%;
  margin: 0 auto;
  box-shadow:3px 2px ;
  position: absolute;
  right:35%;
  top:100%;
  
}

